<div> </div>
<div id="menu">
  <img class="avatar" src="avatar-1.jpg">
  <h6>Bonjour <%=users[0].firstName%></h6>
  <ul>
    <li><a href="/account?email=<%=users[0].email%>&password=<%=users[0].password%>">Mon compte</a></li>
    <li><a href="/order">Commandes</a></li>
    <li><a href="/">Accueil</a></li>
  </ul>
</div>
